/*
Notes: You shouldn't really have to mess with anything down here. Unless you are drastically chaning the Twenty Ten theme.
	
/* --------------------------------------------------------*/
/*-----------------MMMMM----------MMMMM----E---------------*/
/*-----------------MMMMMM--------MMMMMM------D-------------*/
/*-----------------MMMMMMM------MMMMMMM----Q---I-----------*/
/*-----------------MMMMMMMM----MMMMMMMM------U---A---------*/
/*-----------------MMMMMMMMM--MMMMMMMMM--------E-----------*/
/*-----------------MMMM-MMMMMMMMMM-MMMM----------R---------*/
/*-----------------MMMM--MMMMMMMM--MMMM------------I-------*/
/*-----------------MMMM---MMMMMM---MMMM--------------E-----*/
/*-----------------MMMM----MMMM----MMMM----------------S---*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/* --------------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 1024px){
	#wrapper {
		margin: 20px auto;
		width: 90%;
	}
	  
	#access,
	#access .menu-header,
	div.menu,
	#colophon,
	#branding,
	#main,
	#footer {
	    margin: 0 auto;
	    width: 100%;
	}
	  
	#branding{
		overflow: hidden;
	}
	
	/*
	LAYOUT: Responsive Images & Video
	DESCRIPTION: Responsive.
	*/
	#content img {
		margin: 0;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	
	img, object, embed, iframe, #content .wp-caption {
		max-width: 100%;
	}
	
	#content .wp-caption img{
		max-width: 95%;
	}
	  
	/*
	LAYOUT: Two columns
	DESCRIPTION: Responsive.
	940 = 720 + 220
	100% = 76.5957447% + 23.40425535% 
	*/
	
	#container {
		float: left;
		margin: 0 -25.5319149% 0 0;
		width: 99%;
	}
	#content {
		width: 68.5957447%;
		/*margin: 0 29.787234% 0 20px;*/
		margin: 0 29.787234% 0 20px;
	}
	#primary,
	#secondary {
		overflow: hidden;
		width: 23.40425535% /* 200px / 940px */ 
	}
	
	#site-title, #site-info {
		width:74.4680851% /* 700px / 940px */
	}
	
	#footer-widget-area .widget-area,
	#site-generator,
	#site-description  {
		width: 23.40425535% /* 200px / 940px */ 
	}

} /* This belongs here. It goes to @media only screen and (min-width: 481px) and (max-width: 1024px) */

@media screen and (max-width: 660px) {
	#wrapper {
		margin: 5px auto;
		width: 100%;
		padding: 0 3%;
	}

	#access {
		display: none;
	}
	
	#access,
	#access .menu-header,
	div.menu,
	#colophon,
	#branding,
	#main,
	#footer {
		margin: 0 auto;
		width: 100%;
	}
	
	#branding  {
		overflow:hidden;
	}
	
	#site-title {
		width: 100%;
	}
	
	#container {
		float: left;
		width: 100%;
	}
	
	#content {
		width: 99%;
		margin: 0 0px 0 0px;
	}
	
	#primary,
	#secondary {
		float: left;
		overflow: hidden;
		width: 99%; 
	}
	#secondary {
		clear: left;
	}
	
	#site-generator, #site-description, #site-info, #site-title {
		clear: left;
		float: left;
		width: 95%;
		padding: 0;
		margin: 0;
	}
	
	/*
	LAYOUT: Responsive Images
	DESCRIPTION: Responsive.
	*/
	  
	#content img {
		margin: 0;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	
	img, object, embed, #content .wp-caption {
		max-width: 100%;
	}
	
	#content .wp-caption{
		width: 100%;
	}
	
	#content .wp-caption img{
		max-width: 90%;
	}
	
	#content .wp-caption.alignleft{
		float: left;
	}
	#content .wp-caption.alignright{
		float: right;
	}
	#content .alignleft,
	#content img.alignleft {
		display: block;
		float: none;
		margin: 0px auto;
		padding: 0px 0px 5px 0px;
	}
	#content .alignright,
	#content img.alignright {
		display: block;
		float: none;
		margin: 0px auto;
		padding: 0px 0px 5px 0px;
	}

} /* @media screen and (max-width: 660px) */


/*
/* We left these here for you incase you needed them. You do not need to add anything for the Videos or Images.
/*
/*
/* Media = iPad orientation: landscape */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	
}/* This belongs here. It goes to @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) */

/*--------------------------------------------------------------------------------*/

/* Media = iPad orientation: portrait */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}/* This belongs here. It goes to @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) */

/*--------------------------------------------------------------------------------*/

/* Media = Mobile - iPhone */

@media handheld, only screen and (max-device-width: 480px) {
	iframe, object, embed{
		width: 100%;
		height: auto;
	}
	#content pre {
		font-size: 60%;
		overflow: hidden;
		padding: 1em;
	}
	
	#content code {
		font-size: 50%;
		margin-bottom: 24px;
	}
}/* This belongs here. It goes to @media handheld, only screen and (max-device-width: 480px) */
	
/* Media = Mobile - All Others - orientation:portrait */

@media handheld, only screen and (max-device-width: 480px) and (orientation:portrait) {
	iframe, object, embed{
		width: 100%;
		height: auto;
	}
	
	#content pre {
		font-size: 80%;
		overflow: hidden;
		padding: 1em;
	}

	#content code {
		font-size: 50%;
		margin-bottom: 24px;
	}
}/* @media handheld, only screen and (max-device-width: 480px) and (orientation:portrait) */

/* Media = Mobile - All Others - orientation:landscape */

@media handheld, only screen and (max-device-width: 767px) and (orientation:landscape) {
	iframe, object, embed{
		width: 100%;
		height: auto;
	}
}/* This belongs here. It goes to @media handheld, only screen and (max-device-width: 767px) and (orientation:landscape) */




@media only screen and (max-width: 1100px){
	/* FRONT PAGE */
	/*.productTeaser .product--video{
		width: auto;
	}
	.productTeaser .product--video--overlay{
		width: 101%;
	}*/
	/* INTERNAL PAGES */
	.wrapper .content{
		padding: 8.35%;
	}
	.product--features-item img{
		margin: 1rem 1.5rem 2rem 0;
	}
	.content a[target=_blank]:not(.button):after{
		content: none;
	}
}

/* tablet landscape and smaller */
@media only screen and (max-width: 1024px){
	/* FRONT PAGE */
	.panel-strip h3{
		top: 30%;
	}

}


@media only screen and (max-width: 1000px){
	.metaslider div.caption-wrap{
		top: 15%;
	}
	.metaslider div.caption{
		width: 100%;
		max-width: 960px;
		padding-right: 20px;
		padding-left: 30%;
	}
	.productTeaser h3{
		height: 3.5em;
	}
}

@media only screen and (max-width: 830px){
	.SiteHeader--menu .menu-header li, div.menu li{
		margin-left: 1.2em;
	}

}

/* tablet portrait and smaller */
@media only screen and (max-width: 768px){
	/* FRONT PAGE */
	.panel-strip h3{
		top: 25%;
	}

	.productTeaser .product--video{
		width: auto;
		height: auto;
	}
	.productTeaser img{
		width: 100%;
		margin-bottom: 0.5em;
	}
	.productTeaser video{
		display: none;
	}
	.productTeaser .product--video--overlay{
		display: none;
	}
	.productTeaser .product--video--image{
		display: block;
	}

	/* INTERNAL PAGES */
	.wrapper .sidebar{
		padding-top: 30px;
	}
	.sidebar ul.sidebar-menu{
		margin-left: -0.5em;
	}
	.wrapper .content{
		padding: 30px;
	}
}

/* smaller than tablet portrait */
@media only screen and (max-width: 767px){
	.wrapper{
		padding: 0;
	}

	/* FRONT PAGE */
	.panel-productTeaser,
	.panel-sections,
	.panel-contact{
		padding: 30px 0 0;
	}
	.metaslider div.caption{
		font-size: 1.2rem;
	}
	.metaslider div.flexslider{
		margin-bottom: 20px;
	}
	.metaslider .flex-control-nav{
		bottom: -20px;
	}
	.metaslider .flex-control-paging li a{
		width: 10px;
		height: 10px;
	}
	.productTeaser li{
		width: 47%;
		margin: 0 0 2em 2%;
	}
	.productTeaser h3{
		margin-bottom: 0.5em;
	}
	.productTeaser p{
		font-size: 0.8rem;
	}
	.productTeaser .button{
		width: 100%;
	}
	.panel-strip{
		background: #54BBAF;
	}
	.panel-strip img{
		display: none;
	}
	.panel-strip h3{
		position: relative;
		font-size: 1rem;
		padding: 1em
	}
	.sectionsTeaser li{
		width: 100%;
		padding: 0 2% 0;
		margin-bottom: 3em;
		background-size: 100%;
	}
	.sectionsTeaser li:hover{
		background-position: top center;
	}
	.sectionsTeaser a{
		display: inline-block;
		position: relative;
		margin-left: 0;
		border-color: #ea5857;
	}
	.panel-lovedby{
		padding: 30px 20px;
	}
	.panel-lovedby h2{
		font-size: 1.3rem;
	}
	.industries{
		margin: 0 0 1em 0;
	}
	.industries a li{
		width: 50%;
		height: 150px;
		padding: 5em 0 0;
		border: none;
	}
	.including-span + hr{
		margin: -0.8em 0 1.5em;
	}
	.including-clients li{
		width: 48%;
		margin: 1em 1%;
	}
	.wpcf7 fieldset{
		float: none;
		width: 100%;
	}
	input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], input[type="submit"], textarea{
		margin-bottom: 1em;
	}
	.SiteFooter--support{
		text-align: center;
		width: 100%;
	}
	.SiteFooter--support div{
		float: left;
		width: 50%;
		margin: 1em 0 0; 
	}
	.menu-footer{
		display: none;
	}
	#colophon .copyright{
		text-align: center;
		width: 100%;
	}
	#colophon a:nth-child(2){
		border-right: none;
	}
	#colophon .wrapper div{
		display: block;
		text-align: center;
	}
	#colophon a:nth-child(2):after{
		content: " ";
		clear: both;
		display: block;
	}

	/* INTERNAL PAGES */
	.panel-header img{
		width: auto;
		max-width: none;
		height: 100px;
	}
	.wrapper .sidebar{
		display: none;
	}
	.wrapper .content{
		width: 100%;
		padding: 30px 0;
		margin-top: 0;
		margin-left: 0;
	}
	.wrapper .content h2, .wrapper .content h3, .wrapper .content h4, .wrapper .content h5, .wrapper .content p, .wrapper .content ul{
		margin-left: 20px;
		margin-right: 20px;
	}
	.wrapper .content p img{
		max-width: none;
		width: 114%;
		margin-left: -20px;
		margin-right: -20px;
	}
	.wr-full-width .content h2{
		width: auto;
	}
	div.jsn-bootstrap3 .wr-element-container p{
		margin: 0 20px;
	}
	div.jsn-bootstrap3.wr-element-divider{
		margin-left: 20px;
		margin-right: 20px;
	}
	div.wr-element-button{
		margin-bottom: 20px;
	}
	ul{
		list-style-position: inside;
	}
	.post h3{
		border-bottom: none;
	}

	.wrapper .content .content-wrapper{
		text-align: center;
		width: auto;
	}
	.Product--title{
		display: block;
	}
	.Product--title img{
		margin: 0 auto 2em;
	}
	.Product--title img, .Product--title h1{
		display: block;
	}
	.Product--features-item img{
		float: none;
		margin: 0;
	}
	.Product--features-item-text{
		margin-left: 0;
	}
	.Product--features-item h4{
		display: block;
	}
	.Product--casestudy p{
		float: none;
		width: auto;
	}
	.Product--casestudy a{
		float: none;
	}

	.map{
		float: none;
		max-width: 100%;
	}
}


/* off-page nav */
@media only screen and (max-width: 660px){
	.SiteHeader{
		height: 80px;
	}
	.SiteHeader .wrapper{
		padding: 14px;
		padding-left: 100px;
	}
	.SiteHeader--topnav{
		bottom: 20px;
		top: auto;
	}
	.SiteHeader--menu{
		display: none;
	}
	#top-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		background: #bfbfbf;
	}
	#top-menu a{
		text-indent: -9999em;
		height: 80px;
		padding: 0;
	}
	#top-menu a:before{
		top: 23px;
		left: 20px;
		width: 40px;
		background: #fff;
		box-shadow: 0 6px #bfbfbf, 0 12px #fff, 0 18px #bfbfbf, 0 24px #fff;
	}
	.SiteHeader--logo img{
		width: 60px;
	}

	nav.mp-menu ul li > a{
		text-transform: none;
		padding: 1em;
		border-bottom: 1px solid #ddd !important;
		box-shadow: none !important;
	}
	nav.mp-menu ul li a:hover, nav.mp-level > ul > li:first-child > a:hover,
	nav.mp-menu ul li a:active, nav.mp-level > ul > li:first-child > a:active{
		text-decoration: none;
		background: rgba(0,0,0,0) !important;
	}
	nav .mp-back{
		color: #fff;
		background: #949494;
	}
	nav .mp-back::after{
		content: "\203A";
		top: 25px;
		right: 15px;
		font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
		color: #fff;
	}
}


/* iPhone 6 Plus portrait and smaller */
@media only screen and (max-width: 414px){
	.SiteHeader{
		height: 60px;
	}
	.SiteHeader .wrapper{
		padding: 10px 20px 0;
	}
	.SiteHeader--topnav{
		display: none;
	}
	#top-menu{
		width: 60px;
		height: 60px;
	}
	#top-menu a{
		height: 60px;
	}
	#top-menu a:before{
		top: 16px;
		left: 10px;
		width: 40px;
	}
	.SiteHeader--logo{
		float: right;
	}
	.SiteHeader--logo img{
		width: 50px;
	}

	.metaslider div.caption{
		font-size: 1rem;
	}
}


/* iPhone 5 portrait and smaller */
@media only screen and (max-width: 320px){
	.metaslider div.caption-wrap{
		top: 10%;
	}
	.metaslider div.caption{
		padding-left: 20%;
	}
	.metaslider div.caption a{
		margin-top: 1em;
	}

	.productTeaser h3{
		font-size: 1.3rem;
	}
	.productTeaser .button{
		padding: 0.8em 1.2em;
	}
}


