/*
Theme Name: Spicy Brocoli Base Theme
Theme URI: http://spicybroccoli.com
Description: Spicy Broccoli template for WordPress sites. Good for you company's health!
Author: Spicy Broccoli Media
Author URI: http://spicybroccoli.com/
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

.cf:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


/* =Fonts
-------------------------------------------------------------- */
/*body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type="submit"] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}*/


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #fff;
}
html, body{
	font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.375em; /* 22px */
	color: #474747;
	max-width: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4{
	font-weight: 300;
}
h1, h2, h3, h4, h5{
	margin-bottom: 0.8em;
}
p + h1, p + h2, p + h3, p + h4, p + h5,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5,
table + h1, table + h2, table + h3, table + h4, table + h5{
	margin-top: 2.5rem;
}
h1{
	font-size: 2.5rem; /* 40px */
	line-height: 1.2em;
}
h2{
	font-size: 2rem; /* 32px */
	line-height: 1.2em;
}
h3{
	font-size: 1.5rem; /* 24px */
	line-height: 1.2em;
	color: #949494;
}
h4{
	font-size: 1.25rem; /* 20px */
	line-height: 1.2em;
}
h5{
	font-size: 1rem; /* 16px */
	line-height: 1.2em;
	text-transform: uppercase;
}
.home h3{
	color: #474747;
}


hr {
	background-color: #bfbfbf;
	border: 0;
	clear: both;
	height: 5px;
	margin: 25px 0;
}

/* Text elements */
p {
	margin-bottom: 1em !important;
}
ul {
	list-style: disc;
	margin: 0 0 1em 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 1em 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
ol li,
ol h5{
	margin-bottom: 1em;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: 600;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: 600;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-weight: 300;
	font-style: italic;
	padding: 0 0 0 1.5em;
	border-left: 5px solid #bfbfbf;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="submit"],
textarea {
	font-size: 1rem;
	color: #737373;
	width: 100%;
	padding: 0.7em;
	margin-bottom: 1.2em;
	border: none;
	border-radius: 0;
	background: #fff;
	box-shadow: none;
	-webkit-appearance: none;
}
textarea{
	height: 6.3em;
	margin-bottom: 0.8em;
}
input[type="submit"]{
	cursor: pointer;
	font-weight: 600;
	color: #fff;
	border: 1px solid #595959;
	background: #595959;
	transition: all .3s ease;
}
input[type="submit"]:hover{
	background: #54bbab;
}
::-webkit-input-placeholder{font-style: italic;}
:-moz-placeholder{/* Firefox 18- */ font-style: italic;}
::-moz-placeholder{ /* Firefox 19+ */ font-style: italic;}
:-ms-input-placeholder{ font-style: italic;}

a:link, a:visited {
	color: #ea5857;
	text-decoration: none;
	transition: all .3s ease;
}
a:active,
a:hover {
	text-decoration: underline;
}
.content a[target=_blank]:not(.button){
	display: inline-block;
	position: relative;
	font-size: 0.875rem; /* 14px */
	padding-right: 1.5em;
}
.content a[target=_blank]:not(.button):after{
	content: " ";
	position: absolute;
	bottom: 0.2em;
	right: 0;
	width: 17px;
	height: 15px;
	background: url(images/icon_external.png) no-repeat bottom right;
}
.content .Product--casestudy a[target=_blank]{

}
.content .Product--casestudy a[target=_blank]:after{
	content: none;
}

/* Buttons */
a.button,
a.btn,
.single-product .Product--casestudy a,
.entry-summary a{
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	color: #808080;
	padding: 0.8em 1.5em;
	border: 1px solid #808080;
	background: #fff;
	transition: all .3s ease;
}
a.button:hover,
a.btn:hover,
.single-product .Product--casestudy a:hover,
.entry-summary a:hover{
	color: #fff;
	text-decoration: none;
	background: #808080;
}
.button{
	margin: 1em 0;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}



/* =HEADER
-------------------------------------------------------------- */

.SiteHeader{
	height: 142px;
	background: #fff;
}
.SiteHeader .wrapper{
	padding: 20px;
}
.SiteHeader--logo{
	float: left;
}
.SiteHeader--topnav{
	position: absolute;
	top: 20px;
	right: 20px;
}
.SiteHeader--topnav ul{
	list-style: none;
	margin: 0;
}
.SiteHeader--topnav li{
	float: left;
	position: relative;
	width: 25px;
	height: 25px;
	margin-left: 0.3em;
}
.SiteHeader--topnav li a{
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999em;
	width: 25px;
	height: 25px;
	background: url(images/sm.png) no-repeat 0 0;
}
.SiteHeader--topnav li a:hover{
	background-position: 0 -25px;
}
.SiteHeader--topnav li.topnav--facebook{
	display: none;
}
.SiteHeader--topnav li.topnav--linkedin a{
	background-position: -25px 0;
}
.SiteHeader--topnav li.topnav--linkedin a:hover{
	background-position: -25px -25px;
}
.SiteHeader--topnav li.topnav--slideshare a{
	background-position: -50px 0;
}
.SiteHeader--topnav li.topnav--slideshare a:hover{
	background-position: -50px -25px;
}
.SiteHeader--topnav li.topnav--youtube a{
	background-position: -75px 0;
}
.SiteHeader--topnav li.topnav--youtube a:hover{
	background-position: -75px -25px;
}
.SiteHeader--topnav li:first-child{
	width: auto;
	height: auto;
	top: 0.2em;
	margin-right: 1em;
}
.SiteHeader--topnav li:first-child a{
	position: relative;
	text-indent: 0;
	width: auto;
	height: auto;
	background: none;
}


/* --- MENU --- */
#top-menu {
	display: none;
}
.SiteHeader--menu{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.SiteHeader--menu .menu-header,
div.menu {
	font-size: 1rem;
}
.SiteHeader--menu .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
.SiteHeader--menu .menu-header li,
div.menu li {
	float: left;
	position: relative;
	margin-left: 3.5em;
}
.SiteHeader--menu .menu-header > .menu > li{
	top: 1em;
	padding: 0 0 1em 0;
}
.SiteHeader--menu a {
	display: block;
	text-decoration: none;
	color: #474747;
}
.SiteHeader--menu ul ul {
	display: none;
	position: absolute;
	top: 37px;
	left: -1.5em;
	float: left;
	text-align: left;
	width: 180px;
	z-index: 99999;
}
.SiteHeader--menu ul ul li {
	min-width: 180px;
	margin-left: 0 !important;
}
.SiteHeader--menu ul ul ul {
	left: 100%;
	top: 0;
}
.SiteHeader--menu ul ul a {
	background: #fff;
	line-height: 1em;
	padding: 0.6em 1.5em;
	width: 180px;
	height: auto;
}
.SiteHeader--menu li:hover > a,
.SiteHeader--menu ul ul :hover > a {
	color: #ea5857;
}
.SiteHeader--menu ul li:hover > ul {
	display: block;
}
.SiteHeader--menu ul li.current_page_item > a,
.SiteHeader--menu ul li.current_page_ancestor > a,
.SiteHeader--menu ul li.current-menu-ancestor > a,
.SiteHeader--menu ul li.current-menu-item > a,
.SiteHeader--menu ul li.current-menu-parent > a {
	color: #ea5857;
}
* html .SiteHeader--menu ul li.current_page_item a,
* html .SiteHeader--menu ul li.current_page_ancestor a,
* html .SiteHeader--menu ul li.current-menu-ancestor a,
* html .SiteHeader--menu ul li.current-menu-item a,
* html .SiteHeader--menu ul li.current-menu-parent a,
* html .SiteHeader--menu ul li a:hover {
	color: #ea5857;
}



/* = FRONT PAGE
DESCRIPTION: Full width content with no sidebar
-------------------------------------------------------------- */
.panel {
	width: 100%;
	position: relative;
}
.panel:after{
	content: " ";
	clear: both;
	display: block;
}
.wrapper {
	position: relative;
	text-align: center;
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
}
.wrapper:after{
	content: " ";
	clear: both;
	display: block;
}

/* --- METASLIDER --- */
.metaslider div.caption-wrap{
	opacity: 1;
	top: 30%;
	background: none;
}
.metaslider div.caption{
	font-size: 2.25rem; /* 36px / 16px */
	line-height: 1.2em;
	text-align: right;
	color: #fff;
	width: 960px;
	padding-left: 440px;
	margin: 0 auto;
}
.metaslider div.caption strong{
	display: block;
}
.metaslider div.caption a{
	display: inline-block;
	font-size: 0.56em; /* 20px / 36px */
	font-weight: 600;
	text-decoration: none;
	color: #fff;
	padding: 0.45em 2.5em;
	margin-top: 1.2em;
	background: #ea5857;
	transition: all .3s ease;
}
.metaslider div.caption a:hover{
	background: #54bbab;
}
.metaslider .flex-control-nav{
	bottom: -40px;
	padding: 1em;
	background: #ddd;
}
.metaslider .flex-control-paging li a{
	width: 13px;
	height: 13px;
	background: #474747;
	background: rgba(71, 71, 71, 0.5);
}
.metaslider .flex-control-paging li a.flex-active,
.metaslider .flex-control-paging li a:hover{
	background: #474747;
}


/* --- PRODUCTS --- */
.panel-productTeaser{
	padding: 50px 0;
	background: #ddd;
}
.panel-productTeaser h1{
	margin-bottom: 1.5em;
}
.productTeaser{
	list-style: none;
	margin: 0;
}
.productTeaser li{
	float: left;
	width: 23.5%;
	margin-right: 2%;
}
.productTeaser li:last-child{
	margin-right: 0;
}
.productTeaser h3{
	margin-bottom: 1em;
	font-size:1.19rem;
}
.productTeaser .product--video{
	position: relative;
	width: 226px;
	height: 166px;
	margin-bottom: 1em;
}
.product--video video {
	position: absolute;
	top:0;
	left: 0;
}
.productTeaser .product--video--overlay{
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	transition: all .3s ease;
}
.productTeaser .product--video--overlay span{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.25rem;
	font-weight: 300;
	color: #ddd;
	padding: 1em;
}
.productTeaser .product--video:hover .product--video--overlay{
	opacity: 0;
}
.product--video--image{
	display: none;
}
.productTeaser p{
	font-size: 0.875rem;
	line-height: 1.375em;
}
.productTeaser .button{
	min-width: 80%;
	border-color: #54bbab;
}
.productTeaser .button:hover{
	background: #54bbab;
}

.productTeaser li a{
	display: block;
}
.productTeaser li a p{
	color: #474747;
	text-decoration: none;
}
.productTeaser li a:hover{
	text-decoration: none;
}
.productTeaser li a > span{
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	color: #808080;
	min-width: 80%;
	padding: 0.8em 1.5em;
	margin: 1em 0;
	border: 1px solid #54bbab;
	transition: all .3s ease;
}
.productTeaser li a:hover > span{
	color: #fff;
	background: #54bbab;
}


/* --- STRIP --- */
.panel-strip img{
	width: 100%;
}
.panel-strip h3{
	position: absolute;
	top: 38%;
	line-height: 1.25em; /* 30px */
	font-style: italic;
	text-align: center;
	color: #fff;
	width: 100%;
	text-shadow: 3px 0px 10px #000;
}

/* --- SECTIONS --- */
.panel-sections{
	padding: 50px 0;
}
.sectionsTeaser{
	list-style: none;
	margin: 0;
}
.sectionsTeaser li{
	float: left;
	width: 33%;
	padding: 0 1em 5em;

}
.sectionsTeaser li img{
	margin-bottom: 1em;
}

.sectionsTeaser h3{
	margin-bottom: 1em;
}
.sectionsTeaser p{
	font-size: 0.875rem;
	line-height: 1.375em;
	margin-bottom: 2.5em;
}
.sectionsTeaser a{
	display: block;
	position: absolute;
	bottom: 0;
	margin-left: 7%;
	min-width: 160px;
}
.sectionsTeaser .button:hover{
	border-color: #ea5857;
	background: #ea5857;
}
.sectionsTeaser .sectionsTeaser--blog h5{
	font-weight: 300;
	font-style: italic;
	text-transform: none;
	margin-bottom: 1em;
}
.sectionsTeaser .sectionsTeaser--customers p{
	font-style: italic;
	color: #7a7a7a;
}
.sectionsTeaser .sectionsTeaser--customers span{
	display: block;
	margin-top: 1em;
}

/* --- LOVED BY --- */
.panel-lovedby{
	color: #fff;
	padding: 50px 0;
	background: #bfbfbf;
}
.panel-lovedby h2{
	margin-bottom: 1.5em;
}
.industries{
	list-style: none;
	margin: 0 0 3em 0;
}
.industries a{
	transition: all .3s ease;
}
.industries a li{
	color: #fff;
	position: relative;
	float: left;
	width: 25%;
	height: 170px;
	padding: 110px 40px 0;
	border-right: 1px solid #fff;
	background: url(images/industries.png) no-repeat top center;
	transition: all .3s ease;
}
.industries a:nth-child(2) li{
	background-position: center -200px;
}
.industries a:nth-child(3) li{
	background-position: center -400px;
}
.industries a:last-child li{
	border-right: none;
	background-position: center -600px;
}
.industries a:hover li{
	opacity: 0.6;
}
/*
.industries li a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.industries li a span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 40px;
}*/

.including-span{
	font-size: 1.375rem; /* 22px / 16px */
	color: #dedede;
	padding: 0 1em;
	background: #bfbfbf;
}
.including-span + hr{
	margin: -0.8em 0 1.5em;
}
.including-clients{
	list-style: none;
	margin: 0;
}
.including-clients li{
	float: left;
	width: 25%;	
	text-align: center;
	margin: 1em 0;
}
.including-clients li img{
	vertical-align: middle;
}

/* --- CONTACT --- */
.panel-contact{
	color: #fff;
	padding: 50px 0;
	background: #54bbab;
}
.panel-contact .wrapper{
	max-width: 720px;
	padding: 0 20px;
}
.panel-contact h2{
	margin-bottom: 1em;
}
.panel-contact p{
	margin-bottom: 2em !important;
}
.wpcf7:after{
	content: " ";
	clear: both;
	display: block;
}
.wpcf7 fieldset{
	float: left;
	width: 47%;
}
.wpcf7 fieldset:nth-child(2n+1){
	float: right;
}
input[type="text"].wpcf7-not-valid, input[type="tel"].wpcf7-not-valid, input[type="password"].wpcf7-not-valid, input[type="email"].wpcf7-not-valid, input[type="url"].wpcf7-not-valid, input[type="number"].wpcf7-not-valid, textarea.wpcf7-not-valid{
	color: #fff;
	background: #ea5857;
	background: rgba(234, 88, 87, 0.5);
}
.wpcf7 span.wpcf7-not-valid-tip{
	display: none;
	text-align: left;
}
.wpcf7 div.wpcf7-response-output{
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
}
.wpcf7 div.wpcf7-mail-sent-ok{

}
.wpcf7 div.wpcf7-validation-errors{
	color: #ea5857;
}


/* = PRODUCT PAGES
DESCRIPTION: Two col including sidebar
-------------------------------------------------------------- */
.sidebar ul.sidebar-menu.sidebar-menu-product li:first-child{
	font-weight: 300;
	text-transform: none;
}
.single-product .content h2{
	font-size: 1.5rem; /* 24px */
	line-height: 1.2em;
	color: #949494;
}
.single-product .content h3{
	font-size: 1.5rem; /* 24px */
	text-transform: uppercase;
	color: #fff;
	padding: 0.6em 1.5rem 0.5em;
	background: #54bbab; 
}
.Product--title{
	display: table;
	margin-bottom: 2.2rem;
}
.Product--title img,
.Product--title h1{
	display: table-cell;
	vertical-align: bottom;
}
.Product--title img{
	margin: 0 2rem 0 0;
}

.Product--hero .button{
	margin: 1em 0;
}

.Product--section{
	margin-bottom: 2rem;
}

.Product--features-item{
	clear:	both;
	margin-bottom: 2rem;
	min-height:100px;
}
.Product--features-item img{
	float: left;
	width: 80px;
	margin-top: 1rem;
	margin-right: 30px;
}
.Product--features-item-text{
	margin-left: 110px;
}
.Product--features-item h4{
	display: inline;
}
.Product--features-item p{
	font-size: 0.875rem; /* 14px */
	line-height: 1.375em;
	color: #808080;
	margin-top: 0.8em;
}
.Product--casestudy p{
	float: left;
	width: 62.5%;
}
.Product--casestudy a{
	float: right;
}
.Product--casestudy:after{
	content: " ";
	display: block;
	clear: both;
}
.Product--contact{
	text-align: center;
	color: #fff;
	padding: 2.4rem 1.5rem 0
	;
	background: #54bbab;
}
.Product--testimonial{
	font-size: 1.125rem; /* 18px */
	font-weight: 300;
	font-style: italic;
	text-align: center;
	width: 75%;
	padding: 1em 0;
	margin: 0 auto !important;
	background: url(images/quote.gif) no-repeat center;
}
.Product--testimonial strong{
	display: block;
	font-size: 1rem;
	font-weight: 700;
	margin-top: 1em;
}



/* = INTERNAL PAGES
DESCRIPTION: Two col including sidebar
-------------------------------------------------------------- */
.panel-header img{
	display: block;
	width: 100%;
}
.panel-grey{
	background: #e6e6e6;
}
.wrapper .sidebar{
	float: left;
	text-align: left;
	width: 25%;
	padding-top: 4.5rem;
	max-width: 240px;
	margin-right: -100%;
}
.wrapper .content{
	float: left;
	text-align: left;
	width: 150%;
	padding: 5rem;
	margin-top: -1.75rem;
	margin-left: 25%;
	background: #fff;
}
.wrapper .content .content-wrapper{
	width: 50%;
}

.content li{
	margin-bottom: 0.5em;
}
.content table{
	margin-bottom: 2em;
}
.content table tr{
	border-bottom: 1px solid #ddd;
}
.content table thead{
	background: #ddd; 
}
.content table th,
.content table td{
	padding: 0.5em 1em;
}

/* SIDEBAR */
.sidebar{
	padding-top: 4.5em;
}
.sidebar ul.sidebar-menu{
	list-style: none;
	margin: 0 0 2em -1em;
}
.sidebar ul.sidebar-menu li{
	margin-bottom: 2px;
}
.sidebar ul.sidebar-menu li a{
	display: block;
}
.sidebar ul.sidebar-menu li:first-child{
	font-weight: 600;
	text-transform: uppercase;
}
.sidebar ul.sidebar-menu,
.sidebar ul.sidebar-menu li,
.sidebar ul.sidebar-menu li a{
	font-weight: 300;
	color: #474747;
}
.sidebar ul.sidebar-menu li{
	display: block;
	transition: all .3s ease;
	cursor: pointer;
}
.sidebar ul.sidebar-menu li:first-child,
.sidebar ul.sidebar-menu .active,
.sidebar ul.sidebar-menu a{
	padding: 0.3em 1em;
}
/*.sidebar ul.sidebar-menu li:first-child,
.sidebar ul.sidebar-menu .active,
.sidebar ul.sidebar-menu li,
.sidebar ul.sidebar-menu a{
	padding: 0.3em 1em;
}*/
.sidebar ul.sidebar-menu:first-child li:first-child,
.sidebar ul.sidebar-menu:first-child .active,
.sidebar ul.sidebar-menu:first-child a,
.sidebar ul.sidebar-menu.sidebar-menu-product li{
	padding: 0.55em 1em;
}
/*.sidebar ul.sidebar-menu:first-child li:first-child,
.sidebar ul.sidebar-menu:first-child .active,
.sidebar ul.sidebar-menu:first-child li{
	padding: 0.55em 1em;
}*/
.sidebar ul.sidebar-menu .active a{
	padding: 0;
}
.sidebar ul.sidebar-menu .active,
.sidebar ul.sidebar-menu a:hover,
.sidebar ul.sidebar-menu.sidebar-menu-product li:hover {
	text-decoration: none;
	background: #fff;
}

/* TYPOGRAPHIC AND ELEMENT STYLES FOR PAGE BUILDER PAGES */
.wr-full-width .content h2,
.content h2{
	font-size: 1.5rem; /* 24px */
	line-height: 1.2em;
	color: #949494;
	width: 100%;
}
.wr-full-width .content h3,
.wr-full-width .content h4,
.content h3{
	color: #fff;
	text-transform: uppercase;
}
.wr-full-width .content h3,
.content h3{
	font-size: 1.5rem; /* 24px */
	padding: 0.6em 1.5rem 0.5em;
	background: #54bbab;
}
.wr-full-width .content h4{
	font-size: 1.25rem; /* 20px */
	line-height: 1.2em;
	padding: 0.6em 1.5rem 0.5em;
	background: #949494;
}
.wr-full-width .content h5{
	font-size: 1rem; /* 16px */
	line-height: 1.2em;
	text-transform: uppercase;
}
.content p img,
.wr-element-container img{
	height: auto;
	margin-bottom: 1em;
}
.jsn-bootstrap3 .row{
	padding: 0 !important;
}
.jsn-bootstrap3 .row.wr_fullwidth{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.jsn-bootstrap3 .wr-element-container p{
	color: inherit !important;
	padding: inherit !important;
}
.jsn-bootstrap3 div ul,
.jsn-bootstrap3 div ol{
	margin-bottom: 1em;
}
.jsn-bootstrap3 ul.wr-list-icons{
	margin-left: 1em;
}
.jsn-bootstrap3 ul.wr-list-icons.wr-icon-32 .wr-icon-base{
	display: none;
}
.jsn-bootstrap3 ul.wr-list-icons li{
	list-style: disc;
	overflow: visible;
	min-height: 0;
	padding-bottom: 0;
	margin-bottom: 0.2em;
}
.jsn-bootstrap3 ul .wr-list-content-wrap{
	overflow: visible;
}
.jsn-bootstrap3 ul.wr-list-icons h4{
	font-size: 1rem;
	font-weight: 700;
	text-transform: none;
	color: inherit;
	padding: 0;
	margin-bottom: 0;
	background: none;
}
.jsn-bootstrap3 ul.wr-list-icons p{
	margin-bottom: 0 !important;
}
.jsn-bootstrap3.wr-element-divider{
	margin-bottom: 0 !important;
}
.jsn-bootstrap3.wr-element-divider div{
	border-bottom-width: 5px !important;
	border-bottom-color: #bfbfbf !important;
}
.jsn-bootstrap3 .wr-testimonial{
	background: url(images/quote.gif) no-repeat center;
}
.jsn-bootstrap3 .wr-testimonial-box{
	padding: 0;
	border-radius: 0;
	border: none;
	background: none;
}
.jsn-bootstrap3 .wr-testimonial-content{
	width: 75%;
	margin: 0 auto;
}
.jsn-bootstrap3 .wr-testimonial-content p{
	font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.125rem; /* 18px */
	font-weight: 100;
}
.jsn-bootstrap3 .wr-testimonial-item .top>.arrow{
	display: none;
}
.jsn-bootstrap3 .wr-testimonial-meta{
	margin: 0;
}
.jsn-bootstrap3 .wr-testimonial-meta .wr-testimonial-jobtitle,
.jsn-bootstrap3 .wr-testimonial-meta .wr-testimonial-country,
.jsn-bootstrap3 .wr-testimonial-meta .wr-testimonial-link{
	font-size: 1rem;
	font-weight: 700;
	font-style: italic;
}
.jsn-bootstrap3 [id*="testimonial_"]{
	margin-bottom: 0 !important;
}
/* END PAGE BUILDER STYLES */


/* = BLOG PAGES
DESCRIPTION: Two col including sidebar
-------------------------------------------------------------- */
/* SIDEBAR */
.sidebar ul.sidebar-menu-tags{
	padding: 0 2em 0 1em;
}
.sidebar ul.sidebar-menu-tags li{
	float: left!important;
	padding-left: 0!important;
}
.sidebar ul.sidebar-menu-tags li:first-child{
	float: none!important;
	padding-left: 0!important;
}
.sidebar ul.sidebar-menu-tags:after{
	content: " ";
	clear: both;
	float: none;
	display: block;

}
.sidebar ul.sidebar-menu-tags li a{
	padding: 0!important;
	margin-right: 0.2em;
}
.sidebar ul.sidebar-menu-tags .active, .sidebar ul.sidebar-menu-tags a:hover{
	color: #ea5857;
	background: none;
}


.post h3 {
	padding-bottom: 0.2em;
	margin-bottom: 0.4em;
	border-bottom: 1px solid #474747;
}
.post h3 a{
	color: #474747;
	transition: all .3s ease;
}
.post h3 a:hover{
	text-decoration: none;
	color: #ea5857;
}


.post h3 {

}

.post h4 a{
	color: #474747;
	transition: all .3s ease;
}
.post h4 a:hover{
	text-decoration: none;
	color: #ea5857;
}

hr.blog{
	margin: 1em 0 0;
	border-bottom: 10px solid #bfbfbf;
}

.post.category-blog h4,
.single-post h2{
	padding-bottom: 0.2em;
	margin-bottom: 0.2em;
	border-bottom: 1px solid #474747;
}
.single-post .wp-post-image{
	max-width: 100%;
	height: auto;
}
.entry-meta{
	font-size: 0.875rem; /* 14px */
	color: #bfbfbf;
	margin-bottom: 1em;
}
.entry-meta .entry-date{
	font-size: 0.857em;
}
.entry-meta .entry-meta-author{
	display: inline;
	text-transform: uppercase;
	color: #54bbab;
}
.entry-meta .entry-meta-author a{
	color: #54bbab;
}
.entry-meta .meta-sep{
	display: inline;
	margin: 0 0.5em;
}
.entry-meta .entry-meta-date{
	display: inline;
	font-size: 0.857em;
}
.entry-meta .entry-meta-date + .meta-sep{
	display: none;
}
.entry-meta .tag-links{
	display: block;
	font-size: 0.875em;
	/*text-transform: uppercase;*/
}
.entry-meta .tag-links .entry-utility-prep{
	display: none;
}

.archive .post{
	margin-bottom: 1em;
}
.archive .post:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.archive .post .wp-post-image{
	float: left;
	width: 33%;
	height: auto;
	margin-right: 3%;
}
.archive .post .entry-summary{
	padding: 0;
	margin-bottom: 2em;
}
.archive .post .wp-post-image + .entry-summary{
	clear: none;
	float: left;
	width: 64%;
	margin-bottom: 0;
}
.archive .post .entry-summary a{
	display: table;
	margin-top: 1em;
}
.archive .post .entry-summary a .meta-nav{
	display: none;
}

.entry-author{
	padding: 1.5rem;
	background: #bfbfbf;
}
.entry-author img{
	float: left;
	display: inline;
	margin-right: 1.5rem;
}
.entry-author h3{
	text-transform: none;
	color: #fff;
	padding: 0 0 0.2em 0;
	border-bottom: 1px solid #fff;
	background: none;
}
.entry-author h4{
	display: inline-block;
}
.entry-author p{
	font-size: 0.875rem; /* 14px */
	line-height: 1.375em;
}
.entry-author a.button{
	color: #474747;
	background: transparent;
	border-color: #fff;
}
.entry-author a.button:hover{
	background: #fff;
}
.archive .entry-author{
	margin-bottom: 2em;
	padding: 0;
	background: none;
}
.archive .entry-author h3{
	text-transform: uppercase;
	color: #fff;
	padding: 0.6em 1.5rem 0.5em;
	border-bottom: none;
	background: #54bbab;
}
.archive .entry-author a.button{
	color: #808080;
	border-color: #808080;
}
.archive .entry-author a.button:hover{
	color: #fff;
	background: #808080;
}
.archive .entry-author img{
	float: right;
	margin: 0 0 0 1.5rem;
}


.pagination{
	position: relative;
	float: right;
	left: -50%;
	top: 1.4em;
	font-size: 1.25rem; /* 20px */
}
.pagination--numbers{
	position: relative;
	left: 50%;
	list-style: none;
	margin: 0;
}
.pagination--numbers li{
	float: left;
	margin: 0 0.2em;
}
.pagination--numbers a {
	text-decoration: none;
	color: #474747;
	transition: all .3s ease;
}
.pagination--numbers a,
.pagination--numbers .current{
	font-weight: 300;
	padding: 0.15em 0.6em;
}
.pagination--numbers a.prev{
	padding-right: 1em;
	border-right: 1px solid #474747;
}
.pagination--numbers a.next{
	padding-left: 1em;
	border-left: 1px solid #474747;
}
.pagination--numbers a:hover,
.pagination--numbers .current{
	color: #fff;
	background: #54bbab;
}
.pagination--numbers a.prev:hover,
.pagination--numbers a.next:hover{
	color: #54bbab;
	background: none;
}

.addthis_sharing_toolbox{
	display: inline-block;
	margin-bottom: 2.5em;
	background: #bfbfbf;
}
.addthis_sharing_toolbox span{
	display: inline-block;
	font-weight: 700;
	color: #fff;
	padding: 1em;
	background: #54bbab;
}
.addthis_sharing_toolbox .addthis-animated{
	display: inline !important;
}
.addthis_sharing_toolbox .at-share-tbx-element.addthis_32x32_style .at-share-btn,
.addthis_sharing_toolbox .at-share-tbx-element.addthis_32x32_white_style .at-share-btn{
	position: relative;
	top: 0.5em;
	margin: 0 0.5em;
	background: transparent;
	transition: all .3s ease;
}
.addthis_sharing_toolbox .at-share-tbx-element.addthis_32x32_style .at-share-btn:first-child,
.addthis_sharing_toolbox .at-share-tbx-element.addthis_32x32_style .at-share-btn:last-child{
	margin-left: 0.75em;
}
.addthis_sharing_toolbox .at-share-tbx-element.addthis_32x32_style .at-share-btn:hover,
.addthis_sharing_toolbox .at-share-tbx-element.addthis_32x32_white_style .at-share-btn:hover{
	background: #54bbab;
}


/* = FURTHER PAGE STYLES
-------------------------------------------------------------- */
.map{
	float: right;
}
.map + h2{
	display: inline-block;
	width: auto;
}
table.noborder tr{
	border-bottom: 0;
}
table.noborder td{
	padding: 0 2em 0 0;
}
.page-template-archive-testimonial .testimonial{
	font-size: 1.125rem; /* 18px */
	font-style: italic;
	padding: 1em 3em 3em 0;
	margin: 0 0 1em 0;
	border-bottom: 5px solid #bfbfbf;
}
.page-template-archive-testimonial .testimonial p{
	font-weight: 300;
}
.page-template-archive-testimonial .testimonial-company,
.page-template-archive-testimonial .testimonial-author{
	display: block;
	font-size: 1rem;
}
.page-template-archive-testimonial .testimonial-company{
	font-weight: 600;
	border-right: 1px solid #474747;
}
.page-template-archive-testimonial .testimonial-author{

}



/* ________________ */

#container {
	float: left;
	margin: 0;
	width: 75%;
}
#content {
	margin: 0;
	width: 95%;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}







/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content p img {
		max-width: 100%;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 100%;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	background: #474747;
}
#footer .wrapper{
	text-align: left;
	padding: 30px 20px;
}
.SiteFooter--support{
	float: left;
	font-size: 1.25rem; /* 20px / 16px */
	color: #54bbab;
	width: 25%;

}
.SiteFooter--support a{
	font-size: 1.25rem; /* 20px / 16px */
	color: #54bbab;
}
.SiteFooter--support div{
	margin-top: 1.8em;
}
.SiteFooter--support h3{
	font-size: 1.25rem; /* 20px / 16px */
	text-transform: uppercase;
}
.SiteFooter--support h3,
.SiteFooter--support h4{
	color: #e6e6e6;
}
.menu-footer ul{
	list-style: none;
	font-size: 0.875rem; /* 14px / 16px */
	line-height: 1.2em;
	margin: 0;
}
.menu-footer ul.menu > li{
	float: left;
	width: 18.75%;
	padding-right: 4.5%;
}
.menu-footer ul.menu > li > a{
	display: block;
	text-transform: uppercase;
	margin-bottom: 2em;
}
.menu-footer ul.menu li a{
	text-decoration: none;
	color: #bfbfbf;
	transition: all .3s ease;
}
.menu-footer ul.menu li a:hover{
	color: #fff;
}
.menu-footer ul ul li{
	margin-bottom: 0.5em;
}

#colophon {
	font-size: 0.875rem; /* 14px / 16px */
	color: #fff;
	background: #bfbfbf;
}
#colophon .wrapper{
	text-align: left;
	padding: 22px 20px 18px;
}
#colophon .wrapper div{
	text-align: center;
}
#colophon .wrapper div:last-child{
	font-size: 0.75rem;
	color: #eee;
	margin-top: 0.75em;
}
#colophon .copyright {
	display: inline-block;
	width: 25%;
}
#colophon a{
	text-decoration: none;
	color: #fff;
	padding-right: 0.6em;
	margin-right: 0.6em;
	border-right: 1px solid #fff;
}
#colophon a:hover{
	text-decoration: underline;
}
#colophon a:last-child{
	border-right: none;
}
#colophon a.sbm{
	color: #ea5857;
	border-right: none;
}


#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}


 
.sectionsTeaser--image { 
   /* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   -webkit-transition: all 0.5s ease-out;  /* Safari 3.2+, Chrome */
      -moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
        -o-transition: all 0.5s ease-out;  /* Opera 10.5–12.00 */
           transition: all 0.5s ease-out;  /* Firefox 16+, Opera 12.50+ */
   -webkit-transform: translateZ(0);
}
.sectionsTeaser > li:hover .sectionsTeaser--image {
   /* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); */
   -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
}

.no-cssfilters .sectionsTeaser--image {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.no-cssfilters .sectionsTeaser > li:hover .sectionsTeaser--image {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); 
}


.grayscale {
  /* Firefox 10+, Firefox on Android */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");

  /* IE 6-9 */
  filter: gray;

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale.grayscale-fade {
  -webkit-transition: -webkit-filter .5s;
  transition: filter .5s;
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}

.grayscale.grayscale-replaced {
  filter: none;
  -webkit-filter: none;
}

.grayscale.grayscale-replaced > svg {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}